/*----------
  BUTTONS
----------*/
@mixin book-btn($btn-color, $font-color) {
  display: inline-block;
  background-color: #00AE68;
  height: 40px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  
  .add-book-btn {
    display: inline-block;
    vertical-align: top;
    padding: 12px 16px 10px;
    background-color: $btn-color;
    border-radius: 4px 0 0 4px;
    color: $font-color;
  }
  
  .btn-icon-wrapper {
    display: inline-block;
    width: 36px;
    height: 40px;
    border-left: 1px solid #0a6a44;
    border-radius: 0 4px 4px 0;
    
    .btn-icon {
      padding: 8px 0 0 6px;
    }
  }
}

/*----------
  SIDELIST
----------*/
@mixin side-list-mobile {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: #eaeaea;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: default;
  z-index: 40;
  &.show-list {
    transform: translateX(-300px);
  }
  
  ul.list-names {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li.list-title {
      padding: 18px 20px;
      font-size: 18px;
      background-color: #a9a8a8;
    }
    li.list-name {
      border-bottom: 1px solid #d4d4d4;
      padding: 13px 20px;
      cursor: pointer;
    }
  }
  
}

@mixin side-list-desktop {
  .book-view-btns {
    position: relative;
    
    .add-list-select {
      display: none;
      position: absolute;
      width: 210px;
      height: auto;
      border: 1px solid rgba(128, 128, 128, 0.34);            
      overflow: scroll;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
      z-index: 10;
      &.show-list {
        display: block;
      }

      ul.list-names {
        li.list-title {
          padding: 7px 20px;
          font-weight: bold;
        }
        li.list-name {
          &:hover {
            background-color: #F7F7F7;
          }
        }
      }
    }
    
    .overlay {
      display: none;
    }
  }
}
