.book-view-wrapper {
  margin: 20px;
  
  .book-view-back-link {
    margin: 20px 0;
    font-size: 15px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .book-view-cover {
    width: 200px;
  }
  
  .btn-wrapper-add {
    @include book-btn(#00AE68, #fff);
  }
  
  .btn-wrapper-move {
    @include book-btn(#ccc, #3a3a3a);
  }
  
  .book-view-desc {
    margin: 20px 0 30px;
    
    .book-view-desc-short-wrapper {
      display: block;
      &.show-full-desc {
        display: none;
      }
    }
    
    .book-view-desc-full-wrapper {
      display: none;
      &.show-full-desc {
        display: block;
      }
    }
    
    .desc-more-less {
      color: #039be5;
      cursor: pointer;
      margin-left: 3px;
      &:hover {
        text-decoration: underline;
      }
    }
    div.desc-more-less {
      margin: 0;
    }
  }
  
  .remove-btn {
    padding: 12px 16px 10px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #7393a4;
    cursor: pointer;
  }
}
