.book {
  padding: 12px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.34);

  &.no-results,
  &.empty-list {
    padding-left: 28px;
    border: none;
  }
  
  .book-thumbnail-img {
    margin: 0 0 0 15px;
    box-shadow: 3px 3px 10px #888;
  }
  
  .book-title-author {
    display: inline-block;
    margin: 0 20px;
    
    p {
      margin: 0;
    }
  }
  
  img {
    width: 65px;
  }
  
}
