.book-view-wrapper {
  margin: 20px;

  @media(min-width: 800px) {
    position: relative;
    min-width: 720px;
    max-width: 825px;
    margin: 60px auto 450px;
    padding: 0 20px;

    .book-view-body {
      display: flex;
      margin-top: 30px;

      .book-view-cover {
        min-width: 200px;
        height: 300px;
      }

      .book-view-title-author {
        margin: 0 0 0 55px;

        .book-view-title {
          font-size: 28px;
        }

        .book-view-author {
          margin: 10px 0 0 20px;
          font-size: 18px;
        }

      }
    }

    .book-view-btns-wrapper {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 370px;
      @include side-list-desktop;

      .add-list-select {
        right: -300px;
        top: 40px;
      }

      .remove-btn {
        width: 132px;
        height: 39px;
      }
    }

    div.book-view-desc {
      margin: 40px 0 30px;
      max-width: 700px;
    }
  }

  @media(min-width: 1500px) {
    max-width: 930px;    
  }
  
  .book-view-back-link {
    margin: 20px 0;
    font-size: 15px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .book-view-cover {
    width: 200px;
  }
  
  .btn-wrapper-add {
    @include book-btn(#6581A6, #fff);
  }
  
  .btn-wrapper-move {
    @include book-btn(#ccc, #3a3a3a);
  }
  
  .book-view-desc {
    margin: 20px 0 30px;
    max-width: 800px;    
    
    .book-view-desc-short-wrapper {
      display: block;
      &.show-full-desc {
        display: none;
      }
    }
    
    .book-view-desc-full-wrapper {
      display: none;
      &.show-full-desc {
        display: block;
      }
    }
    
    .desc-more-less {
      color: #039be5;
      cursor: pointer;
      margin-left: 3px;
      &:hover {
        text-decoration: underline;
      }
    }
    div.desc-more-less {
      margin: 0;
    }
  }
  
  .remove-btn {
    padding: 5px 16px 0px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: rgba(255, 82, 82, 0.88);
    cursor: pointer;

    .icon-remove {
      margin: 0 8px -7px 0;
      background-color: whitesmoke;
      border-radius: 25px;
      fill: rgba(255, 82, 82, 0.88);
    }

    span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}
