.app-book-list-pane {
  flex-grow: 3;
  max-width: 785px;
  align-self: flex-start;  
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
              
  @media(min-width: 800px) {
    margin: 10px 0 0 25px;
    
    &.list-picker-fixed {
      margin-left: 295px; 
    }

  }
              
  .list-title {
    margin: 0;
    padding: 20px 25px 15px;
    background-color: #b6c0ca;
  }
  
  .app-book-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .book-wrapper {
      position: relative;
      @media(min-width: 800px) {
        &:hover {
          .icon-menu {
            display: block;
          }
        }
      }
      
      .icon-menu {
        display: none;
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 7px;
        fill: #BEBEBE;
        border-radius: 25px;
        cursor: pointer;
    
        &.focused {
          display: block;
          background-color: #ececec;
        }
      }
    }

    .on-search {
      display: none;
    }
  }
}
