.book {
  position: relative;
  padding: 14px 0 4px;
  border-top: 1px solid rgba(128, 128, 128, 0.34);

  &.no-results,
  &.empty-list {
    min-height: 130px;    
    padding-left: 28px;
    border: none;
  }
  
  .book-thumbnail-img {
    margin: 0 0 0 15px;
    box-shadow: 3px 3px 10px #888;
  }
  
  .book-title-author {
    position: absolute;
    top: 23px;
    display: inline-block;
    margin: 0 30px;
    
    p {
      margin: 0;
      a {
        color: #3a3a3a;
        font-size: 18px;
        font-weight: 600;        
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .book-author {
      margin-top: -3px;      
      padding-left: 14px;      
      font-style: italic;
      color: #777;
    }

  }
  
  img {
    width: 65px;
  }
  
}
