.book {
  list-style-type: none;
  padding: 12px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.34);
  
  &.no-results,
  &.empty-list {
    border: none;
  }
  
  .book-title-author {
    display: inline-block;
    margin: 0 20px;
    
    p {
      margin: 0;
    }
  }
  
  img {
    width: 65px;
  }
}
