.book-view-wrapper {
  margin: 20px;

  @media(min-width: 800px) {
    min-width: 720px;
    max-width: 1024px;
    margin: auto;
    padding: 0 20px;    

    .book-view-body {
      display: flex;
      height: 264px;
      margin-top: 30px;

      .book-view-cover {
        min-width: 200px;
        height: 300px;
      }

      .book-view-title-author {
        margin: 0 0 0 55px;

        .book-view-title {
          font-size: 32px;
        }

        .book-view-author {
          margin: 10px 0 0 20px;
          font-size: 18px;
        }

        .book-view-btns-wrapper {
          display: flex;
          margin: 50px 20px 0 50px;
          
          @include side-list-desktop;

          .add-list-select {
            top: 40px;
            right: -300px;
          }

          .remove-btn {
            margin: 0 20px;
          }
        }

      }
    }

    div.book-view-desc {
      margin: 40px 0 30px;
      max-width: 700px;
    }
  }
  
  .book-view-back-link {
    margin: 20px 0;
    font-size: 15px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .book-view-cover {
    width: 200px;
  }
  
  .btn-wrapper-add {
    @include book-btn(#00AE68, #fff);
  }
  
  .btn-wrapper-move {
    @include book-btn(#ccc, #3a3a3a);
  }
  
  .book-view-desc {
    margin: 20px 0 30px;
    max-width: 800px;    
    
    .book-view-desc-short-wrapper {
      display: block;
      &.show-full-desc {
        display: none;
      }
    }
    
    .book-view-desc-full-wrapper {
      display: none;
      &.show-full-desc {
        display: block;
      }
    }
    
    .desc-more-less {
      color: #039be5;
      cursor: pointer;
      margin-left: 3px;
      &:hover {
        text-decoration: underline;
      }
    }
    div.desc-more-less {
      margin: 0;
    }
  }
  
  .remove-btn {
    padding: 5px 16px 0px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #7393a4;
    cursor: pointer;

    .icon-remove {
      margin: 0 8px -7px 0;
      background-color: whitesmoke;
      border-radius: 25px;
      fill: #7393a4;
    }

    span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}
