.app-header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 10px 13px;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  z-index: 40;

  .app-logo {
    position: relative;
    top: -5px;
    margin: 0;
    h1 {
      margin: 0;
    }
  }
  
  .book-search-wrapper {
    margin: 0;
    width: 200px;
    .search-suggs-wrapper {
      width: 198px;
    }
    @media(min-width: 630px) {
      width: 300px;
      .search-suggs-wrapper {
        width: 298px;
      }
    }
  }
}

.header-enter {
  transition: opacity 200ms ease-in-out;
  opacity: 0.01;
  
  &.header-enter-active {
    opacity: 1;
  }
}

.header-leave {
  transition: opacity 200ms ease-in-out;
  opacity: 1;
  
  &.header-leave-active {
    opacity: 0.01;
  }
}
