.switch-list-btn {
  .app-list-picker {
    @include side-list-mobile;
  }
}

.book-list-pane-wrapper {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  
  > .app-list-picker-wrapper {
    display: none;
    
    @media(min-width: 800px) {
      display: block;
      flex-grow: 1;
      max-width: 270px;
    }
    
    > .app-list-picker {
      
      .book-lists {
        margin: 38px 0 0 0px;
        padding: 0;
        list-style-type: none;
        border: 1px solid #c8ccd0;
        border-radius: 7px;
        cursor: pointer;
        
        .list-title {
          background-color: rgba(181, 192, 201, 0.68);
          margin: 0 auto;
          padding: 11px;
          border-radius: 6px 6px 0 0;
          font-weight: bold;
          font-size: 18px;
          cursor: default;
        }
        
        .list-name {
          padding: 8px 7px;
          border-bottom: 1px solid #dddada;
          &:hover {
            background-color: #f1f6fa;
          }
          &:last-child {
            border: none;
            border-radius: 0 0 6px 6px;
          }
        }
      }
    }
  }
}
