.switch-list-btn {
  .app-list-picker {
    @include side-list-mobile;
  }
  
  .add-list-wrapper {
    display: none;
  }
}

.book-list-pane-wrapper {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  
  > .app-list-picker-wrapper {
    display: none;
    
    &.list-picker-fixed {
      position: fixed;
      width: 270px;
      top: 52px;
    }
    
    @media(min-width: 800px) {
      display: block;
      flex-grow: 1;
      max-width: 270px;
    }
    
    > .app-list-picker {
      
      .book-lists {
        margin: 38px 0 0 0px;
        padding: 0;
        list-style-type: none;
        border: 1px solid #c8ccd0;
        border-radius: 7px;
        cursor: pointer;
        
        .list-title {
          background-color: rgba(181, 192, 201, 0.68);
          margin: 0 auto;
          padding: 11px;
          border-radius: 6px 6px 0 0;
          font-weight: bold;
          font-size: 18px;
          cursor: default;
        }
        
        .list-name {
          display: flex;
          justify-content: space-between;
          padding: 8px 7px;
          border-bottom: 1px solid #dddada;
          &:hover {
            background-color: rgba(220, 237, 251, 0.4);
            .list-picker-remove-icon {
              visibility: visible;
            }
          }
          &:last-child {
            border: none;
            border-radius: 0 0 6px 6px;
          }
          &.selected {
            background-color: #dcedfb;
          }
          
          .list-picker-remove-icon {
            visibility: hidden;
          }
        }
      }
    }
    
    .add-list-wrapper {
      position: relative;
      width: 30px;
      height: 30px;
      margin: 10px;
    
      .icon-plus {
        margin: 0;
        background-color: rgba(181, 192, 201, 0.68);
        border-radius: 25px;
        cursor: pointer;
        transition: transform 300ms;
        z-index: 5;
        &:hover {
          transform: rotate(90deg);
          + span {
            opacity: 1;
            transform: translateX(15px);
          }
        }
      }
      
      span {
        position: absolute;
        display: inline-block;
        top: 6px;
        left: 25px;
        width: 100px;
        font-size: 15px;
        opacity: 0;
        pointer-events: none;
        transition: all 300ms ease-in-out;
        cursor: default;
      }
      
    }
    
  }
}
