.main-wrapper {
  width: 96%;
  margin: 0 auto;
  
  .main-icon-wrapper {
    width: 50px;
    margin: 0 0 0 auto;
    
    .plus-icon-wrapper {
      width: 25px;
      height: 25px;
      .icon-plus {
      
      }
    }
    
    .remove-icon-wrapper {
      width: 25px;
      height: 25px;
      .icon-remove {
        
      }
    }
  }
  
  .btn-icon {
    fill: #3a3a3a;
    cursor: pointer;
  }
}
