.main-wrapper {
  width: 96%;
  margin: 0 auto;
  
  .main-icon-wrapper {
    // margin: 0 0 0 auto;
    font-size: 13px;
    display: flex;
    align-items: center;
    
    > .icon-wrapper {
      width: auto;
      margin: 2px 5px;
      padding: 4px 9px 7px;
      background-color: #dcdcdc;
      border-radius: 13px;
      cursor: pointer;
    }
    
  }
  
  .btn-icon {
    fill: #3a3a3a;
    margin-bottom: -7px;
  }
}
